RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !^/project/webroot/
RewriteRule .+ index.php
#
#RewriteEngine on
#
#RewriteCond %{REQUEST_FILENAME} !-f
##RewriteCond %{REQUEST_FILENAME} !favicon.ico
##RewriteRule ^(.*) index.php
